:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #1a1a1a;
  --background-color-inner-dark: #282828;
  --text-color-dark: #ffffff;
  --input-background-color-light: #f0f0f0;
  --input-background-color-dark: #4d4d4d;
  --button-background-color-light: #4CAF50;
  --button-background-color-dark: #4CAF50;
  --button-hover-color-light: #45a049;
  --button-hover-color-dark: #45a049;
  --border-color-light: #ccc;
  --border-color-dark: #444;
}

.reset-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.reset-container-main.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.reset-container-main.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.reset-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--border-color-light);
  box-shadow: 0px 0px 10px white;
  border-radius: 8px;
  background-color: var(--background-color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-container.dark {
  background-color: var(--background-color-inner-dark);
}

.reset-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.reset-container h2 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  color: inherit;
}

.reset-container form {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.reset-container label {
  color: inherit;
}

.reset-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color-light);
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  width: 93%;
  background-color: var(--input-background-color-light);
  color: inherit;
}

.reset-container.dark input {
  background-color: var(--input-background-color-dark);
}

.reset-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-background-color-light);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reset-container.dark button {
  background-color: var(--button-background-color-dark);
}

.reset-container button:hover {
  background-color: var(--button-hover-color-light);
}

.reset-container.dark button:hover {
  background-color: var(--button-hover-color-dark);
}

.input-password {
  position: relative;
}

.eye-icon,
.eye-icon-slash {
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 22px;
}

.eye-icon:hover,
.eye-icon-slash:hover {
  cursor: pointer;
}

@media (max-width: 720px) {
  .reset-container {
    width: 270px;
  }
}