:root {
  --background-color-light: #ffffff;
  --background-main-color-light: #ebeaea;
  --text-color-light: #000000;
  --background-color-dark: #1a1a1a;
  --background-color-inner-dark: #282828;
  --text-color-dark: #ffffff;
  --input-background-color-light: #f0f0f0;
  --input-background-color-dark: #4d4d4d;
  --button-background-color-light: #4CAF50;
  --button-background-color-dark: #4CAF50;
  --button-hover-color-light: #45a049;
  --button-hover-color-dark: #45a049;
  --border-color-light: #ccc;
  --border-color-dark: #444;
}

.forgot-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.forgot-container-main.light {
  background-color: var(--background-main-color-light);
  color: var(--text-color-light);
}

.forgot-container-main.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.forgot-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--border-color-light);
  box-shadow: 0px 0px 10px var(--input-background-color-dark);
  border-radius: 8px;
  /* background-color: var(--background-color-light); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-container.dark {
  background-color: var(--background-color-inner-dark);
  box-shadow: 0px 0px 10px var(--background-color-light);
}

.forgot-container img {
  width: 100px;
  height: 100px;
}

.forgot-container h2 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  color: inherit;
}

.forgot-container form {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.forgot-container label {
  color: inherit;
}

.forgot-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color-light);
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  width: 93%;
  background-color: var(--input-background-color-light);
  color: inherit;
}

.forgot-container.dark input {
  background-color: var(--input-background-color-dark);
}

.forgot-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-background-color-light);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.forgot-container.dark button {
  background-color: var(--button-background-color-dark);
}

.forgot-container button:hover {
  background-color: var(--button-hover-color-light);
}

.forgot-container.dark button:hover {
  background-color: var(--button-hover-color-dark);
}

@media (max-width: 720px) {
  .forgot-container {
    width: 270px;
  }
}

.back_to_login {
  text-align: center;
  color: var(--button-hover-color-light);
  cursor: pointer;
}

.back_to_login:hover {
  text-decoration: underline;
}

.forgot-container.dark .back_to_login {
  color: var(--button-hover-color-dark);
}